[MESSAGES CONTROL]

# formatting is done differently
disable=C0301

[TYPECHECK]

# pylint does not find RDKit members for various reasons
# pylint also disagrees with the re-export of the lef.constants
ignored-modules=rdkit,rdkit.Chem,lef,lefqm.constants
